.sidebar {
  background-color: #5D4037;
  color: white;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;

  .sidebar-header h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .sidebar-menu {
    list-style: none;
    padding: 0;

    li {
      margin: 20px 0;
      font-size: 20px;
      display: flex;
      align-items: center;
      transition: background-color 0.3s ease;

      a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;

        i {
          margin-right: 15px;
          font-size: 22px;
        }

        &:hover {
          background-color: #3E2723;
        }
      }

      /* Estilo para el ítem activo */
      &.active a {
        background-color: #3E2723;
        font-weight: bold;
      }
    }
  }
}
